@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");
/* {
  font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

.App {
  text-align: center;
  margin-top: 2rem;
}

.app-name {
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  font-weight: bold;
}
.app-name__EN {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin: 1rem;
}

/* .start {
  width: 15rem;
  margin: 2rem;
  background-color: #4cbe9a;
  padding: 0.5rem;
  font-family: "Merriweather", serif;
  font-size: 1.7rem;
  font-weight: 900;
  font-style: italic;
  text-shadow: 2px 1px 5px #88ffd9;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #40685b;
} */

.subject-card__container {
  margin: 2.5rem auto;
  width: 55vw;
  min-height: 20rem;
  border: 1px solid rgb(220, 195, 148);
  border-radius: 5px;
  background-color: wheat;
  box-shadow: 4px 6px 15px black;
}

.title {
  display: block;
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-size: 1.3rem;
  background-color: wheat;
}
.subject-btn__container {
  background-color: wheat;
  margin: 0 2rem 2rem;
  border-radius: 10px;
}

.subject_btn {
  width: 12rem;
  margin: 1.5rem;
  background-color: #4cbe9a;
  padding: 0.3rem;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 1px 5px #88ffd9;
  border: none;
  border-radius: 13px 3px;
  box-shadow: 5px 5px 5px #40685b;
}
.subject_btn small {
  background-color: inherit;
  font-size: 0.9rem;
}

/* .quiz-result {
  margin: 2rem;
  padding: 1.5rem;
  font-family: "Merriweather";
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 9px;
} */

/*Spinner*/
.spinner__container {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}
.spinner {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: #ed1b42;
  animation: spin 0.9s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .subject-card__container {
    width: 80vw;
  }
}
