@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");
/* {
  font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

.Quiz {
  text-align: center;
  margin-top: 2rem;
}

.quiz-name {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  font-weight: bold;
}

.start {
  width: 15rem;
  margin: 2rem;
  color: black;
  background-color: #4cbe9a;
  padding: 0.5rem;
  font-family: "Merriweather", serif;
  font-size: 1.7rem;
  font-weight: 900;
  font-style: italic;
  text-shadow: 2px 1px 5px #88ffd9;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #40685b;
}
.returnSubjectPage-btn {
  width: 15rem;
  margin: 2rem;
  color: black;
  background-color: #f83b6e;
  padding: 0.5rem;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  font-weight: 900;
  font-style: italic;
  text-shadow: 2px 1px 5px #f21d56;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #bc0133;
}
.question-number__container {
  margin-top: 2rem;
  background-color: inherit;
}
.question-number__container span {
  background-color: inherit;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
.question-number {
  width: 4rem;
  margin: 1rem;
  color: black;
  background-color: #f4c515;
  padding: 0.5rem;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  font-weight: 900;
  font-style: italic;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #cda100;
}

.quiz-card {
  margin: 2.5rem auto;
  width: 55vw;
  min-height: 20rem;
  border: 1px solid rgb(220, 195, 148);
  border-radius: 5px;
  background-color: wheat;
  box-shadow: 4px 6px 15px black;
}

.score {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #88ffd9;
}

.next {
  width: 12rem;
  margin: 1.5rem;
  color: black;
  background-color: #4cbe9a;
  padding: 0.3rem;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 1px 5px #88ffd9;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #40685b;
}

.quiz-result {
  margin: 2rem;
  padding: 1.5rem;
  font-family: "Merriweather";
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 9px;
}
.quiz-result span {
  line-height: 2.5rem;
  font-family: "Merriweather";
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #3d3d3d;
  color: #fff;
}

/*Spinner*/
.spinner__container {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}
.spinner {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: #ed1b42;
  animation: spin 0.9s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* responsive design */
@media (max-width: 1200px) {
  .quiz-card {
    width: 65vw;
  }
}
@media (max-width: 768px) {
  .quiz-card {
    width: 80vw;
  }
  .quiz-name {
    font-size: 2.2rem;
  }
}
@media (max-width: 480px) {
  .Quiz {
    margin-top: 1rem;
  }
  .quiz-card {
    width: 95vw;
    margin: 2.2rem auto;
  }
  .quiz-name {
    font-size: 1.8rem;
  }
}
@media (max-width: 320px) {
  .quiz-card {
    width: 99vw;
  }
}
